.Picture {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    img{
        width: 100%;
    }
}

.border-base{
    border-radius: var(--border-radius);
}

.border-circle{
    border-radius: 50%;
}