.ArtistProfilePage{
}

.actions{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    flex-shrink: 0;
}

.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    /*flex-wrap: wrap;*/
    margin-bottom: 20px;
}

.title{
    margin-bottom: 10px;
}