.Textarea {
    padding: 5px 9px 7px;
    border-radius: var(--border-radius);
    overflow: hidden;
    resize: none;
    width: 100%;
    background: var(--bg-color);
    color: var(--theme-color);
    border: 1px solid var(--border);
    font-size: 13px;
    line-height: 18px;

    &:focus {
        outline: 1px solid var(--blue-color);
    }
}
