.Input {
    display: flex;
    height: 36px;
    padding: 8px 12px;
    line-height: 20px;
    font-size: 13px;
    border-radius: 8px;
    background-color: var(--bg-color);
    border: 1px solid var(--border);
    color: var(--theme-color);
    text-overflow: ellipsis;

    &:focus {
        border: 1px solid var(--blue-color);
    }
}

.fullWidth {
    width: 100%;
}
