.UserCard.size_l{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;

    .data{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .nameBox{
        display: flex;
        align-items: baseline;
        gap: 10px;
    }

    .fullname{
        font: var(--font-l);
        font-weight: 500;
    }

    .username{
        color: var(--grey-color);
        font-weight: 500;
    }
}


.UserCard.size_m{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    .userInfo{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 8px;
    }

    .fullname{
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
    }

    .username{
        font-size: 14px;
        line-height: 14px;
        color: var(--grey-color);
    }
}


.UserCard.size_s{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 13px;

    .userInfo{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 5px;
    }

    .fullname{
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
    }

    .username{
        font-size: 13px;
        line-height: 13px;
        color: var(--grey-color);
    }
}

