:root {
    --font-family-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
                        Cantarell, 'Helvetica Neue', Arial, sans-serif;
    --font-size-s: 14px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    --modal-z-index: 10;
    --overlay-color: rgba(0 0 0 / 40%);
    --red-light: #ff2626;
    --red-dark: #a60000;
    --global-primary-color: #549EFF;
    --green-color-light: #52b652;
    --green-color-dark: #4bb34b;
    --navbar-height: 71px;
    --sidebar-width: 164px;
    --layout-width: 1175px;
    --sidebar-width-collapsed: 80px;
    --border-radius: 8px;
    --thumb-size: 12px;
    --page-top-margin: 20px;
    --page-margin: 20px;

    --bg-color: #000;
    --bg-color-content: #222;
    --theme-color: #e1e3e6;
    --primary-color: #e1e3e6;
    --primary-hover-color: #f5f5f7;
    --blue-color: #549EFF;
    --grey-color: #939393;
    --grey-color-light: #828282;
    --red-color: #ff5c5c;
    --inverted-primary-color: #000;
    --secondary-color: #e1e3e6;
    --secondary-bg: #393939;
    --secondary-bg-hover: #3d3d3d;
    --inverted-secondary-color: #000;
    --border: #363738;
    --border-secondary: #292929;
    --fallback-bg: #333;
}
