.ArtistsListPage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.searchForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .input{
        flex-grow: 1;
    }
}

.artistsList{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.link{
    border-radius: 10px;
    border: 2px solid transparent;
    transition: .2s;
    padding: 8px 15px;

    &:hover{
        border: 2px solid #272727;
    }
}