.ArtistsListPage {
    margin: var(--page-margin) 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.searchForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .input{
        flex-grow: 1;
    }
}

.artistsList{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.link{
    padding: 8px 12px;
    border-radius: var(--border-radius);
    &:hover{
        background: var(--fallback-bg);
    }
}