.Navbar {
    background: var(--bg-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.inner {
    height: calc(var(--navbar-height) - 1px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

