.Navbar {
    background: var(--bg-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.inner {
    height: calc(var(--navbar-height) - 1px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainLinks, .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainLinks{
    gap: 40px;
}

.links{
    gap: 20px;
}

.navLink{
    padding-bottom: 3px;
    font-weight: 500;
    span{
        color: var(--grey-color-light);
    }

    &.activeNavLink {
        span{
            color: var(--primary-color);
        }
        margin-bottom: -3px;
        border-bottom: 3px solid var(--blue-color);
    }
}

.profileLink{
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    padding: 6px 14px;

    &:hover{
        background-color: var(--fallback-bg);
        border-radius: var(--border-radius);
    }
}
