.Form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 272px;
}

.title {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 12px;
}

.sep {
    border-top: 1px solid var(--border);
    margin: 20px 0;
}

.button, .link {

}

.error{
    font: var(--font-s);
    color: var(--red-color);
    align-self: flex-start;
    margin-top: 15px;
}

.pictureBox{
    /*justify-self: flex-start;*/
    /*align-self: flex-start;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    p{
        /*font-size: 18px;*/
        font-weight: 500;
    }
}